<!DOCTYPE>

<html>
    <head>
        <title>Get Informed, Yo</title>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://use.fontawesome.com/0eb7cae2f6.js"></script>
        <link rel="stylesheet" href="/css/homeStyle.css">
        
    
    </head>
    <body>
     <nav>
          <div class="white black-text nav-wrapper ">
            <a href="/" class="black-text brand-logo" id="logo">get informed, yo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a class="black-text" href="/">Home</a></li>
              <li><a class="black-text" href="/mission">Mission</a></li>
              <li><a class="black-text" href="/get-billz">Find Billz</a></li>
              <li><a class="black-text" href="/getInvolved">Get Involved</a></li>
              <li><a class="black-text" href="/findReps">Find Repz</a></li>
              <li><a class="black-text" href="/resources">Resources</a></li>
              <li><a class="black-text" href="/about">About Us</a></li>

            </ul>
          </div>
        </nav>
        <div id="index-banner" class="parallax-container2">
          <div class="section no-pad-bot">
            <div class="container">
              <br><br>
              <h1 class="header col push-s3 white-text">HEY ITS US!</h1>
              <div class="row center">
                <p class="header col push-s0 white-text">scroll down to learn more ;)</p>
            </div>
            <br><br>
          </div>
        </div>
      </div>
      
      
      <br/>
      <div class="row">
        <div class="col l4 s4 m4">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s6">
                  <img src="images/jady.JPG" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col s4">
                  <span class="black-text">
                    JADY CHAN
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col l4 s4 m4">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s6">
                  <img src="images/tori.JPG" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col s4">
                  <span class="black-text">
                    TORIE PFAU
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col l4 s4 m4">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s6">
                  <img src="images/allison.JPG" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col s4">
                  <span class="black-text">
                    ALLISON KIM
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
         <div class="row">
              <div class="col s4 m4">
                <div class="card-panel teal">
                  <span class="white-text">Jady is going to be a freshman at Cal State Long Beach. She is planning on majoring in Computer Science.
                  </span>
                </div>
              </div>
              <div class="col s4 m4">
                <div class="card-panel teal">
                  <span class="white-text">Torie is going to be a freshman at LA Mission College. She is planning on majoring in Political Science.
                  </span>
                </div>
              </div>
              <div class="col s4 m4">
                <div class="card-panel teal">
                  <span class="white-text">Allison is going to be a senior at Oxford Academy.
                  </span>
                </div>
              </div>
            </div>
    </body>
</html>
