<!DOCTYPE html>
<html>
    <head>
        <title>Get Involved</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
        <link rel="stylesheet" href="/css/homeStyle.css">
    </head>
    <body>
        <!--navbar-->
        <nav>
          <div class="white black-text nav-wrapper ">
            <a href="home.ejs" class="black-text brand-logo">get informed, yo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a class="black-text" href="/">Home</a></li>
              <li><a class="black-text" href="/get-billz">Find Billz</a></li>
              <li><a class="black-text" href="/about">About Us</a></li>
              <li><a class="black-text" href="/getInvolved">Get Involved</a></li>
              <li><a class="black-text" href="/resources">Resources</a></li>
              <li><a class="black-text" href="/findReps">Find Reps</a></li>
            </ul>
          </div>
        </nav>  
          
          <br>
          <!--list-->
          <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-success">Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-info">Cras sit amet nibh libero</a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Porta ac consectetur ac</a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Vestibulum at eros</a>
            </div>
    </body>
</html>