<!DOCTYPE html>
<html>
    <head>
        <title>Find Your Reps</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <!--navbar-->
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#">get informed, yo</a>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav align-items-end">
              <a class="nav-item nav-link active mr-auto" href="home.html">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link active mr-auto" href="#">Find Billz <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link active mr-auto" href="#">About Us <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link active mr-auto" href="getInvolved.html">Get Involved <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link active mr-auto" href="findReps.html">Find Your Reps <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link active mr-auto" href="#">Resources <span class="sr-only">(current)</span></a>
            </div>
          </div>
        </nav>   
        <!--card-->
          <div class="col-sm-6 mx-auto">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">Connect With Your Reps</h3>
                <p class="card-text">Find the women and men who represent you in the United States Congress.</p>
                <a href="http://www.house.gov/representatives/find/" class="btn btn-outline-primary">Find Yo Repz</a>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>