.navbar {
    margin-right: 2px;
}
.parallax-container { 
    /* The image used */
    background-image: url("http://www.gocollette.com/-/media/img/destination%20page/north%20america/north%20america%20continent/north%20america%20continent%20ms2.ashx?h=720&w=1280&la=en&hash=040572C9DAC2CA3C3F83F07E96D869C4A2D62FF6");

    /* Set a specific height */
    height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-container2 { 
    /* The image used */
    background-image: url('../images/aboutus.png');

    /* Set a specific height */
    height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.container h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
}

.card-title {
    center-align; 
}

.page-footer {
    padding-top: 60px;
}

.footer-icons {
    display: inline;
}

.hero-title {
    display: flex;
    align-items: flex-end;
}

.billContent img {
    width: 30%;
}

img{
display:block;
margin:auto;
}

#rect{
    width:180px;
    height:8px;
    background:#ffcc00;
}

#spinner {
    margin-left: 48%;
    margin-top: 10%;
}

#logo {
    margin-left: 1%;
}

#icon {
    max-height: 30px;
}